<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!--<add key="bd" value="Data Source=10.151.68.195;Initial Catalog=NUEVATEL;User ID=UsrAccMw;Password=inc2001;"/>-->
    <add key="bd" value="Data Source=localhost;Initial Catalog=NUEVATEL;User ID=admin;Password=admin; TRUSTED_CONNECTION = TRUE"/>
    <add key="sftp" value="10.225.1.40"/>
    <add key="port" value="22"/>
    <add key="username" value="usrinconcert"/>
    <add key="password" value="Fpo7vxyjkXfd2JWw8adW"/>
    <!--<add key="ruta_archivolocal" value="D:\INCONCERT PROYECTOS\IQ\COLSUBSIDIO\Colsubsidio_InOut\Colsubsidio_Import\tmp\EX_Inconcert_{fecha}.txt"/>-->
    <!--son las mismas rutas-->
    <add key="ruta_archivossftp" value="/Reporte/NoContacto/"/>
    <add key="cmd_rutaarchivo" value="E:\Sftp_Volcado\Reporte\NoContacto\"/>
    
    <!--son las mismas rutas-->
    <!--<add key="campanias" value="Encuesta,LeadsOutbound,PortOutEstructural,PV1diaEstructural" />-->
	  
    <!--campanias para las marcaciones por formularios-->
    <!--<add key="campaniasbackenvio" value="BackEnvio" />
	      <add key="campaniasbackporta" value="BackPorta" />
	      <add key="campaniasencuesta" value="Encuesta" />
	      <add key="campaniasleads" value="LeadsOutbound" />
	      <add key="campaniasportout" value="PortOutEstructural" />
	      <add key="campaniasposventa1" value="PV1diaEstructural" />-->
    <add key="fecha_estatico" value="" />
  </appSettings>
</configuration>
